# Ignore environment file
.env

# Ignore Excel files
*.xlsx

# Ignore PDF files
*.pdf

# Ignore CSV files
*.csv

# Ignore venv
venv/

# Ignore pycache
*/__pycache__/
*.pyc

# Database files
*.db
*.sqlite3