[Unit]
Description=ASA Datacollector
After=network.target

[Service]
Type=simple
User=rpi
WorkingDirectory=/home/rpi/AlgaeGrowth
ExecStart=/home/rpi/AlgaeGrowth/venv/bin/python app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target